pandas
numpy
dill
matplotlib
ipykernel
scikit-learn
imbalanced-learn
pyyaml
lightgbm
seaborn
dvc
mlflow<3
dagshub
flask
joblib
python-box==6.0.2
ensure==1.0.2
tqdm
types-pyyaml
flask-cors
notebook
jenkins